<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <style>
        h1{
            font-size: 36px;
            color: forestgreen;
            font-family: "Verdana";
            font-weight: bold;
            padding: 8px;
            margin: 5px auto;

        }
        a{
            font-size: 20px;
            color: seagreen;
            font-family: "Verdana";
            text-decoration: none;
            margin-left: 10px;
        }
    </style>
</head>
<body>
<h1>Index</h1>
<a href="listStudents">List Students</a>
</body>
</html>